.pageContainer {
  width: 100vw;
  min-height: 100%;
  box-sizing: border-box;
  padding: 32px 32px;
  background: var(--page-background);
  transition: background-color 0.2s;

  .topCard {
    width: 100%;
    margin: 48px 0;
    padding: 32px;
    box-sizing: border-box;
    background: var(--primary-color);
    border-radius: 32px;
    box-shadow: var(--shadow-val);

    .date {
      display: flex;
      justify-content: space-between;
      margin: 0;
      font-size: 36px;
      color: #ffffff;
    }

    .showBox {
      position: relative;
      padding-top: 36px;

      .comp {
        position: absolute;
        left: -48px;
        top: -12px;
      }

      .cityInfo {
        height: 180px;
        width: 400px;
        margin-left: auto;
        color: #ffffff;

        .temperature {
          position: relative;
          font-size: 64px;

          &::after {
            position: absolute;
            right: -20px;
            top: 20px;
            display: block;
            content: '';
            width: 10px;
            height: 10px;
            border: 4px solid #ffffff;
            border-radius: 50%;
          }
        }

        .text {
          margin-left: 64px;
          font-size: 36px;
        }

        .city {
          margin: 0;
          font-size: 32px;
        }
      }
    }

    .updateTime {
      margin: 64px 0 0;
      color: #ffffff;
    }
  }

  .otherCities {
    h2 {
      font-size: 42px;
      color: var(--primary-font-color);
    }

    .alarmInfo {
      width: 100%;
      padding: 32px;
      box-sizing: border-box;
      border-radius: 32px;
      transition: background-color 0.2s;

      .title {
        margin: 0 0 24px;
        color: var(--primary-font-color);
        font-size: 36px;
      }

      .description {
        margin: 0;
        color: var(--primary-font-color);
        line-height: 50px;
      }
    }

    .previewBox {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 32px 0;
      padding: 32px;
      box-sizing: border-box;
      border-radius: 32px;
      border: 1px solid var(--not-active-border);
      background: var(--button-not-select-background);
      box-shadow: var(--shadow-val);
      transition: background-color 0.2s;

      .iconBox {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background: var(--primary-color);
        transition: background-color 0.2s;

        img {
          height: 50px;
        }
      }

      .infoText {
        display: flex;
        align-items: center;
        width: 430px;
        justify-content: space-between;
        margin-left: 24px;
        color: var(--primary-font-color);

        .leftInfo {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100px;

          span:first-child {
            font-size: 36px;
          }

          span:last-child {
            width: 320px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 27px;
          }
        }

        .temperature {
          position: relative;
          font-size: 56px;

          &::after {
            position: absolute;
            top: 14px;
            right: -18px;
            content: '';
            width: 7px;
            height: 7px;
            border: 3px solid var(--primary-font-color);
            border-radius: 50%;
          }
        }
      }
    }

    .addButton {
      height: 116px;
      width: 100%;
      background: var(--primary-color);
      border-radius: 24px;
      font-size: 32px;
      border: none;
      color: #ffffff;
      user-select: none;
      transition: background 0.2s;
    }
  }

  .dataFrom {
    margin: 64px 0 0;
    color: #3d3d3d;
    text-align: center;
  }

  .emptyBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    img {
      width: 420px;
      margin-bottom: 32px;
    }

    button {
      height: 80px;
      width: 240px;
      background: var(--primary-color);
      border-radius: 12px;
      font-size: 32px;
      border: none;
      color: #ffffff;
      user-select: none;
      transition: background 0.2s;
    }
  }
}
