:root {
  --page-background: #f2f2f2;

  --modal-background: #ffffff;
  --primary-font-color: #333333;

  --primary-color: #385b4e;

  --input-background: #ffffff;
  --input-placeholder-color: #bbbbbb;
  --input-foucs-color: rgba(101, 182, 88, 1);
  --input-foucs-background: rgba(101, 182, 88, 0.1);

  --button-not-select-color: #000000;
  --button-not-select-background: #ffffff;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  .mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: background 0.3s;

    .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 520px;
      padding: 32px;
      box-sizing: border-box;
      background: #ffffff;
      border-radius: 24px;
      opacity: 0;
      transition: opacity 0.3s;

      p {
        margin: 0;
        text-align: center;
        font-size: 32px;
        color: #242424;
        opacity: 0;
      }

      img {
        width: 420px;
        opacity: 0;
      }
    }
  }
}
